body, section {
    overflow-x: hidden;
    width: 400px;
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
    text-align: center;
    width: 100%;
}

section, form {
    padding: 0 10px;
    margin: 20px 0 20px 0;
}

.ui-datepicker{
    margin-top: -130px;
}